.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title {
  width: 100%;
  text-align: center;
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 3rem;
  margin: 1rem 2rem;
}

.matchesList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
